
.main-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .article-card {
    width: 100%;
    margin: 10px;
    max-width: 300px;
    transition: transform 0.2s;
    background-color: #fff; /* Change to your preferred background color */
  }
  
  .article-card:hover {
    transform: scale(1.05);
  }
  
  .mat-card-title {
    color: #3f51b5; /* Angular indigo color */
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .mat-card-actions a {
    color: #e91e63; /* Angular pink color */
    text-decoration: none;
  }
  