<mat-toolbar color="primary">
    <span class="example-spacer">Crypto Wallet</span>
    <div class="btn">
      <span >{{portFolioBalance}}</span>
      <span>{{walletAddress?.substring(0,5)}}...{{walletAddress?.substring(38,42)}}</span>
      <button type="button" (click)="signOut()">Sign out</button>
    </div>
  </mat-toolbar>
  
  <div class="container">
    <mat-tab-group>
      <mat-tab label="Transfer"> <app-transfer-token></app-transfer-token> </mat-tab>
      <mat-tab label="HistroicPrice"> <app-price-chart></app-price-chart></mat-tab>
      <mat-tab label="News">  <app-ang-scrappy></app-ang-scrappy> </mat-tab>
    </mat-tab-group>
  
  </div>